# Created by venv; see https://docs.python.org/3/library/venv.html

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VS Code / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project data to ignore
archive/
your_database.xlsx

